main {
    margin:0;
    border:0;
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.header{
	width:90%;
	height:70px;
	display:flex;
	justify-content: space-between;
	}
.menu{
	width:30%;
	height:10vh;
	background-color: dodgerblue;
}
.menu ul{
	list-style: none;
	display:flex;
	justify-content: space-around;
}
.menu li{
width:100px;
height:40px;
text-align: center;
padding-top: 20px;
font-size: 18px;
color:black;
font-weight: bold;
}
.dropdown {
  display: none;
  position: absolute;
  background-color:green;
}
.dropdown li{
color:white;
border-right: 1px solid dimgrey;
}
.btn:hover .dropdown {display:flex;}

button{
background-color: white;
outline:none;
}
button:hover{
	color:white;
	background-color:black;
}
.menu li:hover{
	color:white;
	background-color:black;
}
a{
	text-decoration: none;
}
.title{
	text-align: center;
	width:400px;
	margin-top:10px;
	margin-left:10px;
	}
.title p{
	line-height:1.5em; 
	color:green;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}
.body{
	width:100%;
	height:2300px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
	background-color: red;
	}
.big-div-1{
	width:90%;
	height:400px;
	display:flex;
	justify-content:space-around;
	background-color: pink;
}
.big-div-2{
	width:100%;
	height:500px;
	display:flex;
	justify-content:center;
    margin-top: 50px;
    background-color: pink;
}
.image{
	width:500px;
	height:400px;
	background-color:pink;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	}
.image img{
	height:350px;
	width:350px;
	border-radius:50%;
	-webkit-box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
	-moz-box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
	box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
}
.welcome-text{
	height:400px;
	width:600px;
	background-color: white;
	display:flex;
	justify-content: center;
	align-items:center;
}
.text{
	height:350px;
	width:500px;
	background-color: pink;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}
.head {
	font-size:30px;
	margin-bottom:20px;
	text-align:justify;
	color:green;
	font-weight: bold;
}
.foot {
	font-size:20px;
    text-align:justify;
    font-style:italic;
}
.right{
	background-color: white;
	height:100%;
	width:45%;
	display:flex;
	justify-content:center;
	align-items: center;
}
.text-holder{
	height:90%;
	width:90%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-end;
	background-color: pink;
}
.big-text{
	height:20%;
	width:90%;
	align-items: flex-end;
	background-color: red;
	text-align: end;
}
.big-text p{
	font-size:70px;
	font-weight: bold;
}
.small-text{
	height:20%;
	width:70%;
	align-items: flex-end;
	background-color: blue;
	text-align: justify;
}
.small-text p{
	font-size:20px;
	font-style: italic;
	line-height: 1.5em;
}

.left{
	height:100%;
	width:550px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	-webkit-box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
	-moz-box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
	box-shadow: 4px 6px 59px 0px rgba(46,74,117,1);
}
.left img{
	position:absolute;
	height:500px;
	width:550px;
	z-index:-1;
	border-radius:8px;
	}
.left h1{
color:white;
font-size:70px;
font-weight: bold;
margin-left:20px;
margin-bottom:100px;
}